body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "LuckiestGuy-Regular";
  background-color: aqua;
  background-image: url("img/3. Background/Layers/5. Water/L1.png");
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 56px;
  margin: 4vh;
  text-shadow: 4px 4px 4px white;
}

h2 {
  text-shadow: 2px 2px 2px white;
  margin-bottom: 200px;
}

.d-none {
  display: none !important;
}

canvas {
  background-color: black;
  border-radius: 13%;
  border: 5px solid #3097b0;
  display: block;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 0px #373f43;
}

.extend-canvas {
  width: 100%;
}

.extend-canvas-container {
  height: 100vh;
  width: 100vw;
}

#end-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("img/3. Background/Mesa de trabajo 1.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("img/3. Background/Layers/5. Water/L1.png");
  background-repeat: no-repeat;
}

#start-container {
  margin-left: 450px;
  margin-top: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.button {
  background-color: #6d2d90;
  color: white;
  border: 2px solid white;
  border-radius: 24px;
  padding: 16px;
  font-size: 32px;
  margin: 0 8px 0 8px;
  font-family: "LuckiestGuy-Regular";
  text-shadow: 4px 4px 4px black;
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.button:hover {
  background-color: #3097b0;
  color: #6d2d90;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.end-button {
  position: absolute;
  bottom: 25vh;
}

#howToPlay img {
  height: 300px;
  width: 480px;
  position: fixed;
  bottom: -150%;
  transform: translateX(-50%);
  filter: brightness(1.7);
}

#canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hud {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.mute-fs {
  width: 24px;
  height: 24px;
  margin: 16px;
}

.mute-fs:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.mute-fs-img {
  position: absolute;
  top: 16px;
  right: 16px;
}

.move-btn {
  position: relative;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.move-btn img {
  width: 48px !important;
  height: 48px !important;
}

.left-right-btn {
  transform: translateX(-40%);
  display: flex;
  gap: 96px;
  justify-content: center;
  align-items: center;
}

.up-down-btn {
  transform: translateX(-410%);
  display: flex;
  gap: 56px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attack-btn {
  position: relative;
  left: 20px;
  bottom: 40px;
  width: 40px;
  height: 40px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@font-face {
  font-family: "LuckiestGuy-Regular";
  src: url("Font/LuckiestGuy-Regular.ttf");
}

@media only screen and (max-width: 1024px) {
  canvas {
    width: 100vw;
    border: none;
    border-radius: 0;
  }
}

@media only screen and (max-height: 500px) {
  canvas {
    height: 100vh;
    border: none;
    border-radius: 0;
  }

  #enterFS {
    display: none;
  }

  .end-button {
    bottom: 10vh;
  }

  #start-container {
    margin-left: 250px !important;
    margin-top: -150px !important;
  }
  .button {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  #start-container {
    margin-left: 200px;
    margin-top: -450px;
  }
}

@media (max-width: 700px) {
  #start-container {
    margin-left: 0;
    margin-top: 0;
  }
  #howToPlay img {
    height: 220px;
    width: 380px;
    bottom: -120%;
  }
  #enterFS {
    display: none;
  }
}

@media (max-width: 400px) {
  .button {
    font-size: 24px;
  }
}
