body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "LuckiestGuy-Regular";
  background-color: aqua;
  background-image: url("img/3. Background/Layers/5. Water/L1.png");
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 56px;
  margin: 4vh;
  text-shadow: 4px 4px 4px white;
}

.d-none {
  display: none !important;
}

canvas {
  background-color: black;
  border-radius: 13%;
  border: 5px solid #3097b0;
  display: block;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 0px #373f43;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("img/3. Background/Mesa de trabajo 1.png");
  background-size: cover;
  background-position: center;
}

.start-container {
  margin-left: 450px;
  margin-top: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: float 3s ease-in-out infinite;
  position: relative;
}

.button {
  background-color: #6d2d90;
  color: white;
  border: 2px solid white;
  border-radius: 24px;
  padding: 16px;
  font-size: 32px;
  margin: 0 8px 0 8px;
  font-family: "LuckiestGuy-Regular";
  text-shadow: 4px 4px 4px black;
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.button:hover {
  background-color: #3097b0;
  color: #6d2d90;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#howToPlay img {
  height: 200px;
  width: 350px;
  position: fixed;
  bottom: -100%;
  transform: translateX(-50%);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@font-face {
  font-family: "LuckiestGuy-Regular";
  src: url("Font/LuckiestGuy-Regular.ttf");
}

@media only screen and (max-width: 900px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 500px) {
  canvas {
    height: 100vh;
    border: none;
    border-radius: 0;
  }
}
